.vs/*
/METCore/bin/Debug/net9.0/METCore.dll
/METCore/bin/Debug/net9.0/METCore.pdb
/METCore/obj/Debug/net9.0/ref/METCore.dll
/METCore/obj/Debug/net9.0/refint/METCore.dll
/METCore/obj/Debug/net9.0/METCore.AssemblyInfoInputs.cache
/METCore/obj/Debug/net9.0/METCore.pdb
/METCore/obj/Debug/net9.0/METCore.dll
/METCore/obj/Debug/net9.0/METCore.sourcelink.json
/METDAL/bin/Debug/net9.0/METCore.dll
/METDAL/bin/Debug/net9.0/METCore.pdb
/METDAL/bin/Debug/net9.0/METDAL.dll
/METDAL/bin/Debug/net9.0/METDAL.pdb
/WebApp/obj/Debug/net9.0/WebApp.AssemblyInfoInputs.cache
/WebApp/obj/Debug/net9.0/WebApp.csproj.AssemblyReference.cache
/WebApp/obj/Debug/net9.0/WebApp.dll
/WebApp/obj/Debug/net9.0/WebApp.pdb
/WebApp/obj/Debug/net9.0/WebApp.sourcelink.json
/WebApp/bin/Debug/net9.0/METCore.dll
/WebApp/bin/Debug/net9.0/METCore.pdb
/WebApp/bin/Debug/net9.0/METDAL.dll
/WebApp/bin/Debug/net9.0/METDAL.pdb
/WebApp/bin/Debug/net9.0/WebApp.dll
/WebApp/bin/Debug/net9.0/WebApp.exe
/WebApp/bin/Debug/net9.0/WebApp.pdb
/WebApp/bin/Debug/net9.0/WebApp.staticwebassets.endpoints.json
/WebApp/obj/Debug/net9.0/apphost.exe
/WebApp/obj/Debug/net9.0/rbcswa.dswa.cache.json
/WebApp/obj/Debug/net9.0/ref/WebApp.dll
/WebApp/obj/Debug/net9.0/refint/WebApp.dll
/WebApp/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/WebApp/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/WebApp/obj/Debug/net9.0/rpswa.dswa.cache.json
/WebApp/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/WebApp/obj/Debug/net9.0/staticwebassets.build.json
/WebApp/obj/Debug/net9.0/staticwebassets.build.json.cache
/MyExpansionTeam/obj/Debug/net9.0/ref/METAPI.dll
/MyExpansionTeam/obj/Debug/net9.0/refint/METAPI.dll
/MyExpansionTeam/bin/Debug/net9.0/METAPI.dll
/MyExpansionTeam/bin/Debug/net9.0/METAPI.exe
/MyExpansionTeam/bin/Debug/net9.0/METAPI.pdb
/MyExpansionTeam/bin/Debug/net9.0/METCore.dll
/MyExpansionTeam/bin/Debug/net9.0/METCore.pdb
/MyExpansionTeam/bin/Debug/net9.0/METDAL.dll
/MyExpansionTeam/bin/Debug/net9.0/METDAL.pdb
/MyExpansionTeam/obj/Debug/net9.0/apphost.exe
/MyExpansionTeam/obj/Debug/net9.0/METAPI.AssemblyInfoInputs.cache
/MyExpansionTeam/obj/Debug/net9.0/METAPI.csproj.AssemblyReference.cache
/MyExpansionTeam/obj/Debug/net9.0/METAPI.dll
/MyExpansionTeam/obj/Debug/net9.0/METAPI.pdb
/MyExpansionTeam/obj/Debug/net9.0/METAPI.sourcelink.json
/MyExpansionTeam/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/MyExpansionTeam/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/METDAL/obj/Debug/net9.0/METDAL.AssemblyInfoInputs.cache
/METDAL/obj/Debug/net9.0/METDAL.csproj.AssemblyReference.cache
/METDAL/obj/Debug/net9.0/METDAL.dll
/METDAL/obj/Debug/net9.0/METDAL.pdb
/METDAL/obj/Debug/net9.0/METDAL.sourcelink.json
/METDAL/obj/Debug/net9.0/refint/METDAL.dll
/METDAL/obj/Debug/net9.0/ref/METDAL.dll
