.vs/*
*/Diagramas/*.png
*/bin/*
*/obj/*
/METCore/Diagramas/Analisis/DiagramaDeClases_Final/DiagramaDeClases_Final_Resto.png
/METCore/Diagramas/Analisis/DiagramaDePaquetes/DiagramaDePaquetes_ConCUs_Admin.png
/METCore/Diagramas/Analisis/DiagramaDePaquetes/DiagramaDePaquetes_ConCUs_Resto.png
/METCore/Diagramas/DeSecuencia/DiagramaSecuencia_CU001.png
/METCore/Diagramas/DeSecuencia/DiagramaSecuencia_CU002.png
/METCore/Diagramas/DeSecuencia/DiagramaSecuencia_CU003.png
/METCore/Diagramas/DeSecuencia/DiagramaSecuencia_CU005.png
/METCore/Diagramas/DeSecuencia/DiagramaSecuencia_CU006.png
/METCore/Diagramas/DeSecuencia/DiagramaSecuencia_CU007.png
/METCore/Diagramas/DeSecuencia/DiagramaSecuencia_CU008.png
/METCore/Diagramas/DeSecuencia/DiagramaSecuencia_CU009.png
/METCore/Diagramas/DeSecuencia/DiagramaSecuencia_CU010.png
/METCore/Diagramas/DeSecuencia/DiagramaSecuencia_CU011.png
/METCore/Diagramas/Diseño/DiagramaDeClases/DiagramaDeClases_PlayersOnlyEntities.png
/METCore/Diagramas/Diseño/DiagramaDeClases/DiagramaDeClases_Teams.png
/METCore/Diagramas/Diseño/ModeoDeDatos/ModeoDeDatos_Resto.png
*.png
